#outerCircleText {
font-weight: bold;
font-family: 'arial';
color: #FF00BF;
position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;}
#outerCircleText div {position: relative;}
#outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}

body { 
	background-image: url("img/back.jpg");
	background-size: cover;
	font-family: 'Pacifico', cursive;
	color: #fff;
	text-align: center;
	font-size: 30px;
	}
h1{
	font-size: 80px;

	}
